$color-block-card-border:#EAEAEA;
$color-text-else:#7E7E82;
$color-text:#1B1C21;
$color-border-bottom:#D9FFF5;
$color-bg-main:#F8F8F8;
$color-btn-active-border:#B8FFEC;
$color-bg-else:#FFFFFF;
$color-bg-btn:#FF3E79;